
///////////////////////////////////////////////
// Verbal Earth Markup
///////////////////////////////////////////////

.vemarkup table {
 	width: 100%;
 	margin: 1rem 0rem;
 	background-color: $white;
 	border: 1px dashed $gray-400;
 	border-collapse: collapse;
}

.vemarkup td, .vemarkup th {
	padding: 0.5rem;
	border: 1px solid $gray-600;
}

//////////////////////////////////////
// BLOCKS
//////////////////////////////////////

.vemarkup-block {
	margin: 1rem 0rem;
	padding: 0rem 1rem;
	border: $gray-600 1px solid;
}

.vemarkup-block p {
	margin: 1rem 0rem;
}

@media only screen and (min-width: 768px) {
	.vemarkup-block {
		margin: 1rem;
	}
}

// STRUCTURE BLOCK

.vemarkup-block.vemarkup-block-structure {
	background-color: $sky_color;
}

// EXAMPLES BLOCK

.vemarkup-block.vemarkup-block-examples {
	background-color: $light_earth_color;
}

.vemarkup-block-examples span.target,
.vemarkup-block-examples span.pronunciation,
.vemarkup-block-examples span.meaning {
	display: block;
}

//////////////////////////////////////

.term {
	font-style: italic;
}

.hilite {
	color: $earth_color;
	font-weight: bold;
}

.target {
	color: $gray-700;
}

.pronunciation {
 	font-family: 'Arimo', sans-serif;
	letter-spacing: 0.05em;
}

.meaning {
	color: $gray-800;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

